@import "tailwindcss";

@theme {
  --color-brick-red-50: #fff1f2;
  --color-brick-red-100: #ffe4e6;
  --color-brick-red-200: #fecdd3;
  --color-brick-red-300: #fda4b0;
  --color-brick-red-400: #fb7186;
  --color-brick-red-500: #f43f5f;
  --color-brick-red-600: #e11d49;
  --color-brick-red-700: #d01443;
  --color-brick-red-800: #9f123a;
  --color-brick-red-900: #881338;
  --color-brick-red-950: #4c0519;

  --color-boulder-50: #f6f6f6;
  --color-boulder-100: #e7e7e7;
  --color-boulder-200: #d1d1d1;
  --color-boulder-300: #b0b0b0;
  --color-boulder-400: #888888;
  --color-boulder-500: #7a7a7a;
  --color-boulder-600: #585858;
  --color-boulder-700: #4f4f4f;
  --color-boulder-800: #454545;
  --color-boulder-900: #2d2d2d;
  --color-boulder-950: #262626;



  --font-display: "Roboto", sans-serif;
}

.btn {
  @apply inline-block whitespace-nowrap align-middle select-none overflow-visible;
}

.btn--md {
  @apply py-2 px-10 md:px-3 font-medium rounded-sm;
}

.btn--outline-white {
  @apply bg-transparent border border-white;
}

.btn--outline-red {
  @apply bg-transparent border border-brick-red-700;
}

.btn-red {
  @apply bg-brick-red-700 text-white;
}

.card-box-shadow {
  box-shadow: 0px 6px 9px 1px #00000021;
}